header { height:30vh;display: flex; justify-content: center; align-items: start;}
h1 {
    color:blue;
text-align:center;;
font-family:Georgia, 'Times New Roman', Times, serif; 
border:5px solid blue; border-radius: 50px;
padding: 10px; 
}
div.centrage  {display: flex; justify-content: center;max-width: 800px;}
img {
    width:30% ;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span {
    color: firebrick;
}