header { height:30vh;display: flex; justify-content: center; align-items: start;}
a{color: black;}
h1 {color: rgb(106, 115, 245);
    background-color:rgba(168, 220, 255, 0.74);
text-align:center;;
font-family:Georgia, 'Times New Roman', Times, serif; 
border:5px solid blue; border-radius: 50px;
padding: 10px; 
}
div.centrage  {display: flex; justify-content: center;max-width: 800px;}
img.button {width: 30%;}
img {
    width:20% ;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span {
    color: firebrick;
}